fastapi>=0.45.0,<0.46.0
uvicorn==0.18.3
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
aiofiles==0.6.0
python-multipart==0.0.5
jinja2==2.11.2